
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="nav-side-menu">
  <div class="brand">Sendr</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li >
        <a href="#/login"><i class="fa fa-paper-plane fa-lg"></i>New email</a>
      </li>
      <li>
        <a href="#/scheduled"><i class="fa fa-calendar fa-lg"></i>Scheduled emails</a>
      </li>
      <li data-toggle="collapse" class="collapsed active">
        <a href="#/log"><i class="fa fa-history fa-lg"></i>History</a>
      </li>
      <li>
        <a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-lg" ></i>Logout</a>
      </li>
    </ul>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h1>Sent emails</h1>
      <table class="table table-hover">
        <thead>
          <tr class="list" >
            <th class="col-md-1">Schedule</th>
            <th class="col-md-1">To</th>
            <th class="col-md-1">Title</th>
            <th class="col-md-1">Content</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="email in emails track by $index">
            <td>{{ email.schedule | date : 'short'}}</td>
            <td>{{ email.to }}</td>
            <td>{{ email.title }}</td>
            <td>
              <button type="btn btn-primary" class="btn btn-danger" data-toggle="modal" data-target="#{{ email.id }}">View</button>

              <div class="modal fade" id="{{ email.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">View / Edit your emails</h4>
                    </div>
                    <div class="modal-body">
                      <div class="container" id="modalBody">
                        <div class="row">
                          <table style="width:100%">
                            <tr>
                              <th>To:</th>
                              <td>{{ email.to }}</td>
                            </tr>
                            <tr>
                              <th>Scheduled time:</th>
                              <td>{{ email.schedule | date : 'short'}}</td>
                            </tr>
                            <tr>
                              <th>Title:</th>
                              <td>{{ email.title }}</td>
                            </tr>
                            <tr>
                              <th>Content:</th>
                              <td>{{ email.content }}</td>
                            </tr>
                          </table>
                          <br>
                          <button ng-click='delete(email.id)' class="btn btn-danger">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
