/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



#modalBody {
  width: 100%
}

#mainBody {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center
}

#loginAlert {
  display: none
}
